.resumeBackground {
    background-color: rgb(215, 255, 250);
    font-family: Arial, Helvetica, sans-serif;
}

.resumeBox {
    width: 1500;
    padding-left: 0%;
    padding-right: 0%;
    color: black;
    font-weight: bold;
}

.resumeList {
    color: #555555;
    font-weight: normal;
}

.meBackground {
    background-color: rgb(196, 255, 220);
}

.pictureLeft {
    padding-left: 150px;
    left: 400px;
}

.pictureRight {
    padding-left: 550px;
    left: 400px;
}

.backToTop {
    border-top: solid 50px rgb(196, 255, 220);
}